@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height:100vh;
    background-color: rgb(232, 232, 232);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-variation-settings:
      "slnt" 0;
}

.defaultBGComponentsColor{
  background-color: rgb(15 23 42);
}